.navbar-dark .nav-link {
  transition: 0.3s ease;
}
.navbar-dark .nav-link:hover {
  color: #ffd54f !important;
}

.btn-outline-primary {
  border-color: #007bff;
  color: #007bff;
}
.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}

.navbar {
  transition: all 0.3s ease;
  min-height: 50px; /* tinggi navbar stabil */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


